
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #47398a;
}

.slider-wrapper {
  overflow: hidden;
  max-width: 1300px;
  margin: 0 50px 40px;
}

.card-slider .card-item {
  user-select: none;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 24px;
  border-radius: 8px;
}

.card-slider .card-item .card-image {
  max-width: 400;
  width: 100%;
  height: 250px;
  border: 3px solid #00ace2;
  border-end-start-radius: 8px;
}

.card-slider .card-item .card-title {
  font-size: 24px;
  margin: 16px 0 8px;
}

.card-slider .card-item .card-button {
  padding: 8px 24px;
  margin-top: 12px;
  background: #00ace2;
  color: #fff;
  border: 2px solid #00ace2;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.card-slider .card-item .card-button:hover {
  background: transparent;
  color: #00ace2;
  border-color: #00ace2;
}

.card-slider #photographer .card-image {
  border-color: #ff0000;
}

.card-slider #photographer .card-button {
  background: #ff0000;
  border: 2px solid #ff0000;
}

.card-slider #photographer .card-button:hover {
  background: transparent;
  color: #ff0000;
}

.card-slider #freelancer .card-image {
  border-color: #008000;
}

.card-slider #freelancer .card-button {
  background: #008000;
  border: 2px solid #008000;
}

.card-slider #freelancer .card-button:hover {
  background: transparent;
  color: #008000;
}

.card-slider #gamer .card-image {
  border-color: #8b5dff;
}

.card-slider #gamer .card-button {
  background: #8b5dff;
  border: 2px solid #8b5dff;
}

.card-slider #gamer .card-button:hover {
  background: transparent;
  color: #8b5dff;
}

.card-slider #researcher .card-image {
  border-color: #ff8000;
}

.card-slider #researcher .card-button {
  background: #ff8000;
  border: 2px solid #ff8000;
}

.card-slider #researcher .card-button:hover {
  background: transparent;
  color: #ff8000;
}

.card-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #fff;
}

.card-slider .slider-button {
  color: #fff;
  margin-top: -40px;
  transition: 0.3s ease;
}

.card-slider .slider-button:hover {
  color: #00ace2;
}

@media screen and (max-width: 768px) {
  .slider-wrapper {
    margin: 0 10px 40px;
  }

  .card-slider .slider-button {
    display: none;
  }
}
